<% @books = Book.new unless @books %>
<% if flash[:notice] %>
 <div class="flash">
  <%= flash[:notice] %>
 </div>
<% end %>
<h1>Book</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
  <% @books = Book.all.order(create_at:'desc') %>
  <% @books.each do |book| %>
   <tr>
    <td class="line"><%= book.title %></td>
    <td class="line"><%= book.body %></td>
    <td class="line"><%= link_to "Show",book_path(book) %></td>
    <td class="line"><%= link_to "Edit",edit_book_path(book) %></td>
    <td class="line"><%= link_to "Destroy",book_path(book), method: :delete,data:{confirm:"本当にいいんですか？"}%></td>
   </tr>
   <% end %>
  </tbody>
</table>

<div class="index-create">
  <h2>New book</h2>
  <% @book = Book.new unless @book %>
  <%= form_for @book do |f| %>
   <% if @book.errors.any? %>
   <div class="warning">
   <p><%= @book.errors.count %> errors prohibited this book from being saved:</p>
   <ul>
    <% @book.errors.full_messages.each do |mssage| %>
      <li><%= mssage %></li>
    <% end %>
   </ul>
   </div>
   <% end %>
   <div class="index-area">
     <%= f.label :title, class:"index-box-p" %>
     <div class="index-laberu">
       <%= f.text_field :title, class:"index-box" %>
     </div>
   </div>
   <div class="index-area">
     <%= f.label :body, class:"index-box-p" %>
     <div class="index-laberu">
       <%= f.text_area :body, class:"index-box"  %>
     </div>
   </div>
  <p>
    <%= f.submit 'Create Book' %>
  </p>
  <% end %>
</div>
